body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #97BFB4;
    color: white;
  }

hr{
  background-color:#97BFB4 ;
  height:3px;
  border:none;
border-top:8px dotted #F5EEDC;
color:#fff;

height:1px;
width:10%;
}
img{
    border-radius: 50%;
}
h1{
    color: #445c5c;
}
h3{
    color: #4a5d5f;
}